.container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 20px;
}

.buttons {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inputs {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.button1 {
	width: 200px;
	height: 40px;
	color: white;
	background-color: #252542;
	border: none;
	font-size: 20px;
}
.button2 {
	width: 200px;
	height: 40px;
	color: white;
	background-color: #252542;
	border: none;
	font-size: 20px;
}
.button3 {
	width: 200px;
	height: 40px;
	color: white;
	background-color: #252542;
	border: none;
	font-size: 20px;
}
.button4 {
	width: 200px;
	height: 40px;
	color: white;
	background-color: #252542;
	border: none;
	font-size: 20px;
}
.button5 {
	width: 200px;
	height: 40px;
	color: white;
	background-color: #252542;
	border: none;
	font-size: 20px;
}

.addButton {
	width: 100px;
	height: 30px;
	border-radius: 20px;
	color: white;
	background-color: #252542;
}

.addButton:hover {
	background-color: white;
	color: black;
}
